<%- include('./templates/header.ejs') %>

     <div class="eform">
      <form action="/add_new_password" method="post">
        <fieldset>
            <legend>Add New Password</legend>
            <% if(success != ''){ %>
                 <p style="text-align: center"> <%= success %></p>
            <% } %>
            <div class="form-group">
                  <label for="pass_details">password category</label>
                  <select class="form-control" name="pass_name">
                  <option>Choose an option</option>
                    <% if (options.length > 0){
                      options.forEach(function(option){ %>
                        <option value="<%= option.pws_category %>"><%= option.pws_category %></option>
                    <% })  } %>
                </select>
            </div>

            <div class="form-group">
                <label for="project">Project Name</label>
                <input type="text" id="project" name="projectName" value="" placeholder="Enter Your Project Name">
            </div>
        
            <div class="form-group">
                <label for="editor">password Details</label>
                <textarea type="text" id="editor" name="pass_details" value="" placeholder="Enter Your Password Details" rows="5"></textarea>
            </div>
               
              <input class="btn" type="submit" type="button" name="submit" value="Insert Password Details">
        </fieldset>
         <p class=""><a href="/view-all-password-list">View All password lists</a></p>
    </form>
    </div>
    <script>
      CKEDITOR.replace( 'editor' );
    </script>

    <%- include('./templates/footer.ejs') %>
  
