<%- include('./templates/header.ejs') %>

     <div class="eform">
      <form action="/passwordCategory/edit" method="post">
        <fieldset>
            <legend>Edit Category form</legend>
            <input type="hidden" name="id" value="<%= id %>">
            <% if(errors !=''){ %>
              <p style="text-align: center; color: rgb(158, 74, 74)"><%= errors.passwordCategory.msg %></p>
            <% } else if( success != ''){ %>
              <p style="text-align: center; color: rgb(84, 158, 74)"><%= success %></p>
             <% } %>
            <div class="form-group">
                <label for="name">Edit Category Name</label>
                <input type="text" id="name" name="passwordCategory" value="<%= records.pws_category %>" placeholder="Enter Your Password Category">
            </div>
          
              <input class="btn" type="submit" type="button" name="submit" value="Update Category">
        </fieldset>
         <p><a href="/passwordCategory">View All Category list</a></p>
    </form>
    </div>

    <%- include('./templates/footer.ejs') %>