<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  </head>
  <body>
  <nav class="navbar navbar-default" id="category">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">PMS</a>
    </div>
    <ul class="nav navbar-nav">
      <li class=""><a href="/">Home</a></li>
       <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Password Category
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/add_new_category">Add New Category</a></li>
          <li><a href="/passwordCategory">View All Category</a></li>
        </ul>
      </li>
         <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Password Details
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/add_new_password">Add New Password</a></li>
          <li><a href="/view-all-password-list">View All Password</a></li>
        </ul>
      </li>
      <li><a href="/logout">Logout</a></li>
      <li style="float: right"><a href="#">Welcome <% if(loginUser) {%> <%= loginUser  %> <% } %></a></li>
    </ul>
  </div>
</nav>
    <h1><%= title %></h1>

<div class='table-body'>
    <table class='table'>
    <caption> Password Category Lists </caption>
      <thead>
        <tr>
          <th>Password Category Name</th>
          <th> Action</th>
        </tr>
      </thead> 
      <tbody>
        <% if(records.length > 0){ 
          records.forEach(function(row){ %>
            <tr>
                <td><%= row.pws_category %></td>
                  <td class="all_btn">
                    <a id="btn-edit" href="/passwordCategory/edit/<%= row._id %>"><i class="fa fa-edit"></i></a>
                    <a id="btn-delete" href="/passwordCategory/delete/<%= row._id %>"  onclick=" return confirm('Are you sure to delete this category?')"><i class="fa fa-trash"></i></a>
                  </td>
            </tr>
         <% })  } %>
            
         
      </tbody>
    </table>
    </div>

    </body>
</html>
