<%- include('./templates/header.ejs') %>

<div class='table-body'>
    <table class='table'>
    <caption> Password Category Lists </caption>
      <thead>
        <tr>
          <th>Password Category Name</th>
          <th> Action</th>
        </tr>
      </thead> 
      <tbody>
        <% if(records.length > 0){ 
          records.forEach(function(row){ %>
            <tr>
                <td><%= row.pws_category %></td>
                  <td class="all_btn">
                    <a id="btn-edit" href="/passwordCategory/edit/<%= row._id %>"><i class="fa fa-edit"></i></a>
                    <a id="btn-delete" href="/passwordCategory/delete/<%= row._id %>"  onclick=" return confirm('Are you sure to delete this category?')"><i class="fa fa-trash"></i></a>
                  </td>
            </tr>
         <% })  } %>
            
         
      </tbody>
    </table>
    </div>
    
    <%- include('./templates/footer.ejs') %>